<h1>True Facts About Session 2</h1>

<% num = Person.first.id + rand(Person.count) %>

<% link = "/people/#{num}/facts" %>

<%= link_to 'Guess', link %>

<ul>
	<% @people.each do |person| %>
		<p><%= link_to image_tag(person.image_location), person_path(person) %> 
		</p>
	<% end %>
</ul>

<%= link_to 'Add Person', new_person_path %>
